.select-background-menu {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 1.125rem;
    display: flex;
  }
  
  .select-background-menu:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .background-select-option,
  .select-background-menu {
    background-blend-mode: screen;
  }
  
  .mat-mdc-menu-content {
    padding: 0;
  }
  