<header class='header'>
  <div class='header-container'>
    <div class='header-title' (click)='goToMain()'> discount system
    </div>

    <nav class='navigation'>
      <nav mat-tab-nav-bar>
        @for (tab of tabs; track tab.path) {
        <a class='tab' mat-tab-link [routerLink]="tab.path" routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">{{ tab.localizationKey | translate }}
        </a>
        }
      </nav>

      <div class='person'>
        <div class='person-info'>
          <a class='person-name' href='/profile' (click)='goToPerson()'>{{ fullName() }}</a>
          <a class='person-place' href='#'>{{ location() }}</a>
        </div>

        <div class='person-pic'>
          <img class='profile-icon' src='{{ userphoto }}' alt='profile-icon' mat-button
            [matMenuTriggerFor]='beforeMenuProfile'>
          <mat-menu class='profile-menu' #beforeMenuProfile='matMenu' xPosition='before'>
            <button class='btn-person btn-primary' (click)='goToPerson()' mat-menu-item>
              <img src='images/header/header_menu_profile.svg' alt='btn-person'><span class="profile-link">{{
                'header.profile' | translate }}</span></button>
            <button class='btn-person btn-primary' (click)='logout()' mat-menu-item>
              <img src='images/header/header_menu_logout.svg' class="logout-img" alt='btn-person'><span
                class="profile-logout">{{ 'header.logout' | translate }}</span></button>
          </mat-menu>
          <app-language-selection></app-language-selection>
          <app-select-background></app-select-background>
        </div>
      </div>
    </nav>
  </div>
</header>