@use '../../../styles.scss' as *;

.header {
  background: linear-gradient(90.1deg, #8579FF 15.04%, #D1E6F1 71.85%);
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;

    .header-title {
      font-size: 1.3rem;
      font-weight: bold;
      color: #F3F3F3;
      text-transform: uppercase;
    }

    .header-title:hover {
      cursor: pointer;
    }
  }
}

.navigation {
  display: flex;

  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none;
  }

  .person {
    display: flex;
    align-items: center;
    margin-left: 2rem;

    .person-info a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: #303030;

      .person-name, .person-place {
        font-size: 1.6rem;
        font-weight: normal;
      }
    }

    .person-pic {
      display: flex;

      img {
        @include img-profile-language;
        margin-right: 0.5rem;
      }
    }

    .profile-icon {
      margin-left: 1.5rem;
      border-radius: 50%;
    }

    .profile-icon:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.profile-link {
  padding-left: 10px;
  vertical-align: super;
}

.logout-img {
  padding-left: 5px;
}

.profile-logout {
  padding-left: 15px;
  vertical-align: super;
}

.mat-tab-links .tab {
  min-width: 1.5rem;
  color: #303030;
}

.mat-menu-content {
  display: flex;
  flex-direction: column;
  width: 16rem;
  color: #333333;
}

.profile-menu {
  margin-top: .2rem;
}

button.mat-menu-item {
  display: flex;
  align-items: center;
}

.mat-menu-item {
  display: flex;
  align-items: center;
  font-size: .8rem;

  img {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: .5rem;
  }
}
