.not-found-wrapper {
    height: 100vh;
    background-image: url("../../../../public/images/error404.png");
    background-repeat: no-repeat;
    background-size: 78%;
    background-position: 50% 50%;
    display: flex;
  }
  