@use '../../../styles.scss' as *;

.user-card {
  width: 100%;
  @include glass;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: $shadow-gray;
  border-radius: $border-radius-small;

  .user-photo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    img {
      width: 7rem;
      border-radius: 50%;
    }
  }

  .user-card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    h3 {
        margin-bottom: 0;
    }

    p {
      font-weight: bold;
      font-size: 0.825rem;
    }

    .mat-button-toggle-group-appearance-standard,
    .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
      @extend .borderColor;
    }

    .btn-toggle {
      display: flex;
      margin-right: 1%;

      mat-button-toggle {
        font-size: 0.9rem;
        margin: 0;
        background: transparent;
      }

      mat-button-toggle.mat-button-toggle-checked {
        @extend .backgroundColor;
        color: white;
      }

      span {
        padding: 0 0.3rem;
        line-height: 2rem
      }
    }

    mat-slide-toggle {
      margin-top: 0.5rem;
    }
  }
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
  @extend .backgroundColor;
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(51, 51, 51, .2);
}

@media (max-width: 800px) {
  .user-card .user-photo img {
    width: 6.5rem;
  }
}

@media (max-width: 400px) {
  .user-card .user-card__info .btn-toggle span {
    font-size: 0.7rem;
    line-height: 1.5rem;
  }
}
