@use "../../../../../styles.scss" as *;

.chips-container {
    mat-chip {
        margin-right: 5px;
        margin-bottom: 5px;
        background-color: rgba(218, 226, 249, 0.5) !important;
        .mat-mdc-chip-action-label {
            color: black !important;
        }
    }

    .mat-chip.mat-standard-chip {
        margin: 0.5rem 0.5rem 0.5rem 0;
        @include glass;
    }

    .chips-input {
        width: 7rem;
        font: 400 14px/20px Montserrat;
        letter-spacing: normal;

        &:focus {
            outline: none;
        }
    }
}

.list-input-container {
    width: 100%;
  
    mat-form-field {
      width: calc(100% - 8rem);
    }
  
    .list-input-button {
      line-height: 3.25rem;
      font-size: 1rem;
      @extend .backgroundColor;
      color: $color-white !important;
      vertical-align: top;
      float: right;
      width: 7rem;
      margin-top: 8px;
  
      &:disabled {
        @extend .backgroundDisabled;
      }
    }
  }
  