<div class="list-input-container">
    <mat-form-field appearance="outline">
        <mat-label>{{label}}</mat-label>

        <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" [(ngModel)]="newItem" (keydown.enter)="add(newItem)"
            [disabled]="isDisabled">

        <mat-chip-grid #chipList></mat-chip-grid>
    </mat-form-field>

    <button class="list-input-button" mat-raised-button [disabled]="isDisabled" (click)="add(newItem)">{{
        'categories-and-tags.add' | translate }}</button>
</div>

<div class="chips-container">
    <mat-chip *ngFor="let item of options" [selectable]="selectable" [removable]="removable" (removed)="remove(item)"
        (dblclick)="changeItem(item)">
        <span *ngIf="!item.isChanged">{{item.name}}</span>

        <input *ngIf="item.isChanged" class="chips-input" appMyAutofocus [value]="item.name" [(ngModel)]="item.name"
            (keydown.escape)="cancelChange(item)" (keydown.enter)="edit(item)" (keydown)="$event.stopPropagation()" />

        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
</div>
