<div mat-button
  [matMenuTriggerFor]="beforeMenu"
  class="lang-select-button">
    <img src={{imagePath}}>
</div>
<mat-menu
  class="menu-items"
  panelClass="lang-selection-menu"
  #beforeMenu="matMenu"
  xPosition="before">
  @for (item of languages; track item.langId) {
    <div mat-menu-item
    (click)="selectLang(item.path, item.langCode)"
    class="lang-select-option lang-item">
      <img src={{item.path}} alt="lang">  
      <span class="lang-text">{{item.lang}}</span>
  </div>
    }

</mat-menu>
