<div *ngIf="favoriteInfo" class="favorite-card">
  <div class="favorite-vendor">
    <div class="favorite-card-title">{{ favoriteInfo.discount.vendorName }}</div>
  </div>

  <div class="favorite-card-content">
    <div class="favorite-info">
      <div class="favorites-category-and-tags">
        <app-category class="favorites-category" [categoryId]="favoriteInfo.discount.categoryId"></app-category>

        <div class="favorites-tags">
          <app-tag *ngFor="let tag of favoriteInfo.discount.tags" [tagId]="tag"></app-tag>
        </div>
      </div>

      <div class="discount-name line-clamp">{{ favoriteInfo.discount.condition }}</div>
      <div class="favorite-note line-clamp">{{ favoriteInfo.note }}</div>
    </div>
  </div>

  <div class="favorite-card-actions">
    <div class="material-icons" (click)="deleteFavorite(); $event.stopPropagation()">delete_outline</div>
  </div>
</div>
