<div *ngIf="discount" class="favorite-card"  [ngClass]="{'outdated': isOutdatedDiscount()}">
  <div class="favorite-vendor">
    <div class="favorite-card-title">{{ discount.vendorName }}</div>
  </div>

  <div class="favorite-card-content">
    <div class="favorite-info">
      <div class="favorites-category-and-tags">
        <app-category class="favorites-category" [categoryId]="discount.categoryId"></app-category>

        <div class="favorites-tags">
          <app-tag *ngFor="let tag of discount.tags" [tagId]="tag"></app-tag>
        </div>
      </div>

      <div class="discount-name line-clamp">{{ discount.condition }}</div>
      <div class="favorite-note line-clamp">{{ discount.note }}</div>
    </div>
  </div>

  <div class="favorite-card-actions">
    <div *ngIf="isFutureDiscount()" class="soon-badge">{{ 'discounts.soon' | translate }}</div>
    <div class="material-icons" (click)="deleteFavorite(); $event.stopPropagation()">delete_outline</div>
  </div>
</div>
