@use "../../../styles.scss" as *;

.favorite-card {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 5.7rem;
  box-shadow: $shadow-gray;
  border-radius: 5px;
  margin-bottom: 1rem;
  @include glass;

  .favorite-vendor {
    display: flex;
    box-sizing: border-box;
    min-width: 14rem;
    padding: 1rem;

    .favorite-card-title {
      max-width: fit-content;
      align-self: center;
      @include font-bold-vendor;
    }
  }

  .favorite-card-content {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0.1rem 0.5rem 0.3rem 0.5rem;

    .favorite-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .favorites-category-and-tags {
        display: flex;
        justify-content: flex-start;
        margin-bottom: -0.5rem;

        .favorites-tags {
          display: flex;
          justify-content: flex-start;
        }
      }

      .discount-name {
        @include font-bold-discount;
        line-height: 1.5rem;
        margin-top: 0.3rem;

        :before {
          content: 'Promocode';
        }
      }

      .favorite-note {
        display: flex;
        flex-direction: row;
        font-size: $font-content;
      }

      .favorite-note::before {
        content: 'Note:';
        margin-right: 0.2rem;
      }

      .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .favorite-card-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0.5rem;

    .material-icons {
      color: $color-black;
      user-select: none;

      &:hover {
        cursor: pointer;
        @extend .textColor;
      }

      &:last-child {
        opacity: 0.5;
        color: $color-red;

        &:last-child:hover {
          opacity: 1;
          color: $color-red;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .favorite-card {
    flex-direction: column;
    height: max-content;

    .favorite-card-actions {
      order: 1;
      align-self: flex-end;
    }

    .favorite-vendor {
      order: 2;
      padding: 0 0.5rem;
    }

    .favorite-card-content {
      order: 3;
    }
  }
}

.outdated {
  background-color: #a7a7a7 !important;
}

@media (max-width: 450px) {
  .favorites-category-and-tags {
    flex-direction: column;

    .favorites-category {
      width: fit-content;
      margin-bottom: -0.5rem;
    }
  }
}