@use "../../../../styles" as *;

.background-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
  background-size: 25%;
}

.active {
  background-color: rgba(0, 0, 0, 0.226);
}

.container {
  width: 65.625%;
  margin: auto;

  .title {
    @extend .textTitleColor;
    padding-top: 5.0625rem;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }
}

.mat-nav-list .mat-list-item:nth-child(3){
  position: relative;
}

@media (max-width: 950px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container .title {
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
}
