.background-image {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-size: 25%;
  }
  
  .container {
    width: 65.625%;
    margin: auto;
    padding-top: 6.0625rem;
  
    .title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 3rem;
    }
  }
  
  